<head>
  <title>Comedians</title>
  <link rel="stylesheet" href="stylesheets/main.css" title="style" />
</head>
<body>
  <section class="stats">
  </section>

  <section class="comedians">
    <%= yield %>
  </section>

</body>
